.top-bar {
    width: calc(100vw-350px);
    background: #f3eded;
    padding: 10px;

    &__search {
        width: 50%;

        .form-group {
            margin-bottom: 0;

            input {
                border: 0 solid whitesmoke;
                border-radius: 0;
            }
        }
    }
}